<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rick.scaffold.core.dao.order.OrderItemDao" >
  <resultMap id="BaseResultMap" type="OrderItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />
    <result column="goods_amount" property="goodsAmount" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, goods_id, goods_name, goods_sn, goods_amount, unit, market_price, goods_price, 
    shop_id
  </sql>
  <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cs_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from cs_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="OrderItem" >
        insert into cs_order_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="goodsName != null" >
                goods_name,
            </if>
            <if test="goodsSn != null" >
                goods_sn,
            </if>
            <if test="goodsAmount != null" >
                goods_amount,
            </if>
            <if test="unit != null" >
                unit,
            </if>
            <if test="marketPrice != null" >
                market_price,
            </if>
            <if test="goodsPrice != null" >
                goods_price,
            </if>
            <if test="shopId != null" >
                shop_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null" >
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsSn != null" >
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="goodsAmount != null" >
                #{goodsAmount,jdbcType=INTEGER},
            </if>
            <if test="unit != null" >
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null" >
                #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsPrice != null" >
                #{goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="shopId != null" >
                #{shopId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

  <update id="update" parameterType="OrderItem" >
    update cs_order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null" >
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null" >
        goods_amount = #{goodsAmount,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>