<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-5p [%t][%c] %m%n" />
		</layout>
	</appender>

	<appender name="SCAFFOLD" class="org.apache.log4j.DailyRollingFileAppender">     
		<param name="File" value="../logs/scaffold/scaffold.log" />     
		<param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />     
        <layout class="org.apache.log4j.PatternLayout">     
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />     
        </layout>     
    </appender>   


	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	
	<!-- includes mybatis -->
	<logger name="org.apache">
		<level value="error" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="SCAFFOLD" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>