<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rick.scaffold.core.dao.user.PhotoDao" >
  <resultMap id="BaseResultMap" type="Photo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, size, user_id
  </sql>
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from sys_photo
    where user_id = #{id}
  </select>
  <select id="findOne" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from sys_photo
    where id = #{id}
  </select>
  <delete id="delete" parameterType="String" >
    delete from sys_photo
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="Photo" >
    insert into sys_photo (id, url, size, 
      user_id)
    values (#{id}, #{url,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  
  <update id="update" parameterType="Photo" >
    update sys_photo
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>