<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
	default-lazy-init="true">

	<!-- can have different search client for indexing & searching -->
	<bean id="searchClient" class="com.rick.scaffold.common.search.utils.SearchClient">
		<property name="serverConfiguration">
			<ref bean="serverConfiguration" />
		</property>
	</bean>

	<!-- Server configuration -->
	<bean id="serverConfiguration"
		class="com.rick.scaffold.common.search.utils.ServerConfiguration">
		<property name="clusterName" value="${es.clusterName}" />
		<!-- local (embedded version, will create new indexes in the working directory) 
			or remote (requires existing server) -->
		<property name="mode" value="remote" />
		<!-- those properties are used when configured for remote -->
		<property name="clusterHost" value="${es.host1}" />
		<property name="clusterPort" value="${es.port1}" />
	</bean>

	<bean id="searchDelegate"
		class="com.rick.scaffold.common.search.services.delegate.SearchDelegateImpl">
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>


	<!-- This file contains flow definitions for indexing and searching -->
	<bean id="searchService"
		class="com.rick.scaffold.common.search.services.RZSearchService" />

	<bean id="searchWorkflow"
		class="com.rick.scaffold.common.search.services.workflow.SearchWorkflow">
		<property name="searchFlow">
			<list>
				<bean id="search"
					class="com.rick.scaffold.common.search.services.worker.SearchWorkerImpl" />
			</list>
		</property>
		<property name="searchKeywordWorkflow">
			<list>
				<bean id="searchKeyword"
					class="com.rick.scaffold.common.search.services.worker.KeywordSearchWorkerImpl" />
			</list>
		</property>
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>

	<bean id="indexWorkflow"
		class="com.rick.scaffold.common.search.services.workflow.IndexWorkflow">
		<property name="indexWorkflow">
			<list>
				<ref bean="index" />
				<ref bean="keyword" />
			</list>
		</property>
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>

	<bean id="deleteWorkflow"
		class="com.rick.scaffold.common.search.services.workflow.DeleteObjectWorkflow">
		<property name="deleteObjectWorkflow">
			<list>
				<bean id="deleteObject"
					class="com.rick.scaffold.common.search.services.worker.DeleteObjectImpl" />
				<ref bean="deleteKeywords" />
			</list>
		</property>
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>

	<bean id="getWorkflow"
		class="com.rick.scaffold.common.search.services.workflow.GetWorkflow">
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>
	
	<bean id="importWorkflow"
		class="com.rick.scaffold.common.search.services.workflow.ImportWorkflow">
		<property name="searchClient">
			<ref bean="searchClient" />
		</property>
	</bean>

	<bean id="deleteKeywords"
		class="com.rick.scaffold.common.search.services.worker.DeleteKeywordsImpl">
		<property name="indexConfigurations">
			<list>
				<ref bean="user_keywordindex" />
			</list>
		</property>
	</bean>

	<!-- create indice  -->
	<bean id="index"
		class="com.rick.scaffold.common.search.services.worker.ObjectIndexerImpl">
		<property name="indexConfigurations">
			<list>
				<ref bean="user_indexConfig" />
			</list>
		</property>
	</bean>

	<!-- load index configuration -->
	<bean id="user_indexConfig"
		class="com.rick.scaffold.common.search.utils.IndexConfiguration">
		<property name="indiceName" value="scaffold" />
		<property name="typeName" value="user" />
		<property name="mappingFileName" value="search/indice_mappings_user.json" />
		<property name="settingsFileName" value="search/indice_settings_cn.json" />
	</bean>

	<!-- create keyword indice  -->
	<bean id="keyword"
		class="com.rick.scaffold.common.search.services.worker.KeywordIndexerImpl">
		<property name="indexConfigurations">
			<list>
				<ref bean="user_keywordindex" />
			</list>
		</property>
	</bean>

	<bean id="user_keywordindex"
		class="com.rick.scaffold.common.search.utils.CustomIndexConfiguration">
		<property name="typeName" value="keyword_user" />
		<property name="onType" value="user" />
		<property name="fields">
			<list>
				<ref bean="field1" />
			</list>
		</property>
	</bean>


	<!-- supported field types List, Integer, Double, Boolean, String -->
	<bean id="field1"
		class="com.rick.scaffold.common.search.utils.CustomIndexFieldConfiguration">
		<property name="fieldName" value="name" />
		<property name="fieldType" value="String" />
	</bean>
	
	<bean id="userSearchService" class="com.rick.scaffold.common.search.biz.user.UserSearchImpl"></bean>

</beans>